body {
  background-color: black;
  padding: 0;
  margin: 0;
  --odd-theme-color: var(--odd-tile-color);
  --even-theme-color: var(--even-tile-color);
}

:root {
  --color1: fuchsia;
  --color2: lime;
}

.a-theme {
  --odd-tile-color: var(--color1);
  --even-tile-color: var(--color2);
}

.b-theme {
  --odd-tile-color: var(--color2);
  --even-tile-color: var(--color1);
}

:root {
}

#floor {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tile {
  height: 42.25px;
  width: 42px;
  padding: 0;
  margin: 0;
}

.tile:nth-child(odd) {
  background-color: var(--odd-theme-color);
}

.tile:nth-child(even) {
  background-color: var(--even-theme-color);
}
